* {
    font-family: Arial, Helvetica, sans-serif;
}

.data-consegna-p {
    font-size: large;
    font-weight: bold;
}

.box {
    display: grid;
    grid-template-rows: auto ;
}
.metodo-di-pagamento {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 15px 15px 15px;
    width: 500px;
    line-height: 150%;
}

.indirizzo-spedizione {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 15px 15px 15px;
    width: 500px;
    line-height: 200%;
}

.immagine-prodotto {
    width: 20%;
    height: auto;
}

