* {
  font-family: Arial, Helvetica, sans-serif;
}

.whiTee {
  color: #4ed0da ;
}

body {
	overflow-x: hidden;
  	overflow-y: auto;
  	transition: background-color .5s;
}

nav {
    min-height: 10vh;
    overflow: hidden;
    background-color: #FFFEFF;
    position: sticky;
    top: 0;
    margin-left: .1vh;
    width: 100%;
    z-index: 104;
    align-items: center;
}

nav .a {
    color: #181818;
    float: left;
    text-decoration: none;
    letter-spacing: .05rem;
    font-size: 1.1rem;
    min-height: 10vh;
    line-height: 10vh;
    padding: 0.5vh 2.5vh 0.5vh 2.5vh;
    flex: 1;
    text-align: center;
}

nav .a:hover {
	color: #ff9229;
    background-color: #e2e2e2;
}

nav .nav-right {
  float: right;
  left: 50%;
  display: inline-block;
}

nav .cart {
	width: 10vh;
	height: 10vh;
	filter: brightness(0%);
	transition: filter 0.7s;
	cursor: pointer;
}

nav .cart:hover{
	filter: none;
}

.searchForm {
	display: inline;
	vertical-align: middle;
	align-items: center;
	padding-bottom: 7vh;
}

.searchForm .inputSearch {
  vertical-align: middle;
  background: #EEE;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  transition: 200ms ease-in-out;
  box-shadow: inset 2px 5px 10px #ccc;
  display: inline;
}

.searchForm .inputSearch:focus{
  background: transparent;
}

.searchForm #srcBtn {
	background: transparent;
	border: none;
	width: 30px;
	height: 30px;
	display: inline;
	margin-top: auto;
  	margin-bottom: auto;
  	cursor: pointer;
}

.searchForm #srcImg {
	width: 20px;
	height: 20px;
}

.search-img {
    width: 15%
}

.nessun-articolo {
    align-content: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgb(45,162,255);
  background: linear-gradient(180deg, rgba(255,149,43,1) 0%, rgba(255,172,89,1) 15%, rgba(45,162,255,1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: right;
  display: inline;
}

.sidenav a {
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  background: transparent;
}

.sidenav a:hover {
  color: #000000b6;
  background: transparent;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 10vh;
  margin-right: 20px;
  transform: translateX(100%);
  background: transparent;
  text-align: right;
}

#main {
  transition: margin-right .5s;
  text-align: right;
  background: transparent;
  display: inline;
  padding: 16px 16px 7vh;
  vertical-align: middle;
  align-items: center;
}

#main span {
	font-size: 40vh;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}