.whiTee {
  color: #4ed0da ;
}

body{
	overflow-x: hidden;
  	overflow-y: auto;
}
nav {
    min-height: 10vh;
    overflow: hidden;
    background-color: #FFFEFF;
    position: sticky;
    top: 0;
    margin-left: .1vh;
    width: 100%;
    z-index: 104;
}
nav a {
    color: #181818;
    float: left;
    text-decoration: none;
    letter-spacing: .05rem;
    font-size: 1.1rem;
    min-height: 10vh;
    line-height: 10vh;
    padding: 0.5vh 2.5vh 0.5vh 2.5vh;
    flex: 1;
    text-align: center;
}
nav a:hover {
	color: #ff9229;
    background-color: #e2e2e2;
}

nav .nav-right {
  float: right;
}

nav .cart{
	width: 10vh;
	height: 10vh;
	filter: brightness(0%);
	transition: filter 0.7s;
}


nav .cart:hover{
	filter: none;
}
